PORT = 3000
NODE_ENV = development
DB_URI = mongodb://localhost:27017/jobs
GEOCODER_PROVIDER = opencage
GEOCODER_API_KEY = 
JWT_SECRET = 
JWT_EXPIRE = 7d
JWT_COOKIE_EXPIRE = 7
SMTP_HOST = sandbox.smtp.mailtrap.io
SMTP_PORT = 2525
SMTP_EMAIL = 
SMTP_PASSWORD = 
MAX_FILE_UPLOAD = 1000000
FILE_UPLOAD_PATH = ./public/uploads